
#proyectos, #skills {
  scroll-margin-top: 50px;
}
#inicio{
  scroll-margin-top: 100px;
}
#sobremi {
  scroll-margin-top: 140px;
}

@media(min-width:1200px ) {
  #proyectos, #skills {
    scroll-margin-top: 200px;
  }
  #inicio{
    scroll-margin-top: 130px;
  }
  #sobremi {
    scroll-margin-top: 250px;
  }

}
