<div class="w-full flex justify-center xl:justify-start gap-8 mt-3 xl:mt-10">
  <a href="https://github.com/leoxQM" target="_blank" aria-label="GitHub" data-aos="zoom-in" data-aos-delay="100"
    data-aos-duration="1000">
    <app-svg-github></app-svg-github>
  </a>
  <a href="https://gitlab.com/leoQM" target="_blank" aria-label="GitLab" data-aos="zoom-in" data-aos-delay="200"
    data-aos-duration="1000">
    <app-svg-gitlab></app-svg-gitlab>
  </a>
  <a href="https://www.linkedin.com/in/leo-rqm" target="_blank" aria-label="LinkedIn" data-aos="zoom-in"
    data-aos-delay="300" data-aos-duration="1000">
    <app-svg-linkedin></app-svg-linkedin>
  </a>
</div>
<div class="w-full flex  justify-center xl:justify-start gap-5 mt-10" data-aos="zoom-in" data-aos-duration="1000">
  <a href="/cv/CV-Leonardo.pdf" download class="btn-descargar rounded-full">
    <i class="pi pi-download icono" style="font-size: 1rem"></i>
    <span class="texto">Descargar CV</span>
  </a>
  <button class="py-5 px-10 border-2 border-[#B22222] rounded-full">Proyectos</button>
</div>
