<div class="mt-16 w-[90%] mx-auto block xl:hidden">
  <h1 class="text-4xl font-bold colorRed text-center" data-aos="zoom-in" data-aos-duration="1000">Sobre mi</h1>
  <h2 class="text-center text-xl mt-5" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">Mi nombre es
    Leonardo Quispe y soy desarrollador web estudie la carrera de Matematica e Informatica en la Universidad San
    Luis Gonzaga en Ica-Perù. Me considero una persona autodidacta que le encanta aprender cosas nuevas, me apasiona la
    tecnologia y por eso me gusta la programacion</h2>
</div>
<div class="hidden xl:flex w-[75%] mx-auto mt-36 gap-20">
  <div class="w-[50%] flex justify-center items-center" >
    <img src="/imgLeo/developerLeoo.png" alt="imgAnimada" data-aos="zoom-in" data-aos-duration="1000">
  </div>
  <div class="w-[50%]">
    <h1 class="text-4xl xl:text-5xl font-bold colorRed text-start" data-aos="zoom-in" data-aos-duration="1000">Sobre mi</h1>
    <h2 class="text-start text-xl mt-5" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">Mi nombre es
      Leonardo Quispe y soy desarrollador web estudie la carrera de Matematica e Informatica en la Universidad San
      Luis Gonzaga en Ica-Perù. Me considero una persona autodidacta que le encanta aprender cosas nuevas, me apasiona la
      tecnologia y por eso me gusta la programacion
    </h2>
    <div class="w-full flex justify-center xl:justify-start gap-5 mt-10" data-aos="zoom-in" data-aos-duration="1000">
      <a href="/cv/CV-Leonardo.pdf" download class="btn-descargar rounded-full">
        <i class="pi pi-download icono" style="font-size: 1rem"></i>
        <span class="texto">Descargar CV</span>
      </a>
      <button class="py-5 px-10 border-2 border-[#B22222] rounded-full">Proyectos</button>
    </div>
  </div>
</div>
