<div class="w-full fixed left-0 top-0 z-50 backdrop-blur-md bg-transparent">
  <div class="flex justify-between w-[90%] mx-auto py-3">
    <div class="" data-aos="fade-right">
      <span class="font-bold text-xl">
        &lt;<span class="">Leo</span><span class="colorRed">Deev</span>/&gt;
      </span>
    </div>
    <div class="" >
      <div class="menu-activador" >
        <input type="checkbox" id="lanzador" />
        <label for="lanzador">
          <span class="menu-activador-linea"
                data-aos="fade-left"
                data-aos-delay="100"

          ></span>
          <span class="menu-activador-linea"
                data-aos="fade-left"
                data-aos-delay="200"

          ></span>
          <span class="menu-activador-linea"
                data-aos="fade-left"
                data-aos-delay="300"

          ></span>
        </label>
      </div>
    </div>
  </div>
</div>
